<nav class="navbar-container">
  <div class="navbar-left">
    <a routerLink="/" class="navbar-brand">
      <span class="navbar-brand__mark">CT</span>
      <span>ClimaTech</span>
    </a>

    <div class="navbar-links">
      <a routerLink="/" class="navbar-link">Inicio</a>
      <a routerLink="/" fragment="beneficios" class="navbar-link">Beneficios</a>
      <a routerLink="/" fragment="servicios" class="navbar-link">Servicios</a>
    </div>
  </div>

  <div class="navbar-right">
    <a routerLink="/login" class="navbar-link navbar-link--muted">Ingresar</a>
    <ui-button variant="ghost" (click)="goToRegister()">Crear cuenta</ui-button>
    <ui-button variant="primary" (click)="goToLogin()">Ir al panel</ui-button>
  </div>
</nav>
